@use '@/styles/utils';

.errorContainer {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;

  .messageContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .headerContainer {
      display: block;
      color: utils.$gray-brt1;
    }

    .buttonContainer {
      display: block;
      margin-top: 20px;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 16px;
        border-radius: 20px;
        background: utils.$gray-brt1;
        color: utils.$white;
        cursor: pointer;
      }
    }
  }
}
