@use '@/styles/variables';
@use 'sass:list';

// 반응형
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1200px;

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

// Typography
@mixin font-style($styleName: 'body2') {
  @if $styleName == 'body1' {
    font-size: 16px;
    font-weight: 400;
  } @else if $styleName == 'body2' {
    font-size: 14px;
    font-weight: 400;
  } @else if $styleName == 'body1Bold' {
    font-size: 16px;
    font-weight: 700;
  } @else if $styleName == 'body2Bold' {
    font-size: 14px;
    font-weight: 700;
  } @else if $styleName == 'caption' {
    font-size: 12px;
    font-weight: 400;
  } @else if $styleName == 'h1' {
    font-size: 28px;
    font-weight: 700;
  } @else if $styleName == 'h2' {
    font-size: 24px;
    font-weight: 700;
  } @else if $styleName == 'h3' {
    font-size: 20px;
    font-weight: 700;
  } @else if $styleName == 'h4Bold' {
    font-size: 18px;
    font-weight: 700;
  }
}

// flexbox
@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

// 리스트의 값 더하기
@function sum-list($list) {
  $total: 0;

  @each $item in $list {
    $total: $total + $item;
  }

  @return $total;
}
