// 색상
$black: #111322;
$gray-brt1: #7d7986;
$gray-brt2: #a4a1aa;
$gray-brt3: #cbc9cf;
$gray-brt4: #e5e4e7;
$gray-brt5: #f2f2f3;
$gray-brt5: #fafafa;
$white: #fff;
$red-brt1: #ff4040;
$red-brt2: #ff8d72;
$red-brt3: #ffaf9b;
$red-brt4: #ffebe7;
$blue-brt1: #0080ff;
$blue-brt2: #cce6ff;
$green-brt1: #20a81e;
$green-brt2: #d4f7d4;
$kakao: #fee500;
